<nav class="col-2 col-md-6 menu d-flex justify-content-start justify-content-md-end align-items-center">
    <div class="links" role="menu">
        <LinkTo @route="posts" class="menu-about px-2" role="menu-item">
        Articles
        </LinkTo>
        <LinkTo @route="users" class="menu-about px-2" role="menu-item">
        Authors
        </LinkTo>
        <LinkTo @route="about" class="menu-about px-2" role="menu-item">
        About
        </LinkTo>
        <LinkTo @route="contact" class="menu-contact px-2" role="menu-item">
        Contact
        </LinkTo>
    </div>
</nav>