{{page-title "About"}}

<HeroSection>

    <h1 class="pt-3">About the Project</h1>

    <section class="col-12 col-md-8 pt-3">
        <h3 class="py-3">A short description of the project</h3>
    </section>

</HeroSection>

<blockquote class="container">
    The project is created following the Ember-CLI Tutorial found 
    <a href="https://www.youtube.com/watch?v=ljLxZw-XStw" rel="nofollow noopener noreferrer tag" target="_blank">HERE</a>.

    <ul>
        <li>The application uses <em>ember-data</em>, and <em>REST API</em></li>
        <li>For this project, a JSON database provided by 
            <a href="https://jsonplaceholder.typicode.com/" rel="nofollow noopener noreferrer tag" target="_blank">
                Typicode
            </a> is used, with two types of interpolating data: 
            <a href="https://jsonplaceholder.typicode.com/users" rel="nofollow noopener noreferrer tag" target="_blank">
                Users</a>, and 
            <a href="https://jsonplaceholder.typicode.com/posts" rel="nofollow noopener noreferrer tag" target="_blank">
                Posts
            </a>
        </li>
    </ul>
    <hr>
    <ul>
        <li>Styles are created in SCSS, after installing <em>ember-cli-sass</em></li> 
        <li><em>Twitter Bootstrap 5</em> CSS framework, and <em>ember-fontawesome</em> are used throughout the project.</li>
    </ul>
</blockquote>