{{page-title "Posts"}}

<HeroSection>

    <h1 class="pt-3">Articles</h1>

    <section class="col-12 col-md-8 pt-3">
        <h3 class="py-3">The Blog Posts</h3>
    </section>

</HeroSection>

{{outlet}}